/*
Theme Name: Taskup Child
Theme URI: https://wp-guppy.com/taskup
Template: taskup
Author: Amento Tech Private Limited
Author URI: https://themeforest.net/user/amentotech/portfolio
Description: Taskup is an online task marketplace. This system would allow sellers and buyers to register and create their profiles in a few simple steps. Sellers can create the task and get online orders for the posted services/gigs.
Tags: one-column,two-columns,right-sidebar,sticky-post,theme-options,custom-background,custom-menu,editor-style,featured-images,threaded-comments
Version: 1.0.1763745280
Updated: 2025-11-21 17:14:40

*/

